/* ESTILO GERAL PARA TODAS AS PÁGINAS */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
    color: #000000;
}

h2 {
    font-weight: 600;
}

header {
    width: 100%;
    padding: 0.4rem 3rem;
}

header img {
    max-width: 85px;
    width: 100%;
    height: auto;
}

main {
    margin: 3rem 3rem auto 3rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 16px;
}

.linkSecundario {
    color: #8a5938;
    text-decoration: underline;
}

.linkSecundario:hover {
    color: #000000;
}

.botaoPrincipal {
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 2rem;
    cursor: pointer;
    font-weight: 600;
    border: none;
    background-color: #8a593866;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    margin: 1.2rem 0;
}

.botaoPrincipal:hover {
    background-color: #8a5938;
    color: #ffffff;
}

.botao2 {
    background-color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    margin: 1.2rem 0;
    cursor: pointer;
}

.botao2:hover {
    background-color: #000000;
    color: #ffffff;
}

.icon {
    max-width: 25px;
    width: 100%;
    height: auto;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

fieldset {
    border: none;
}

button {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
}

/* --------------------------------- */

/* CAMINHO DA PÁGINA */
.caminho {
    margin: 2rem 3rem;
}

.caminho ul {
    display: flex;
    gap: 1rem;
}

.caminho li {
    display: flex;
    align-items: center;
}

.caminho li + li::before {
    content: ">";
    margin-right: 1rem;
}

.link:hover {
    text-decoration: underline;
    color: #8a5938;
}

.setasInvertidas li + li::before {
    content: "<";
}

.setasInvertidas li::before {
    content: "<";
    margin-right: 1rem;
}

/* --------------------------------- */

/* CABEÇALHOS */
.semNav {
    background-color: #8a5938;
}

.navegacao {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding-bottom: 0;
}

.menu1, .menu2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu2 {
    margin: 1rem 3px 0 3px;
    padding-bottom: 0;
}

/* Barra de pesquisa */
.barraPesquisa {
    position: relative;
    max-width: 600px;
    width: 50%;
}

.barraPesquisa input[type="search"] {
    min-width: 430px;
    width: 100%;
    padding: 10px 2rem 10px 8px;
    border-radius: 5px;
}

/* Remover x da barra de pesquisa */
.barraPesquisa input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: flex;
    -moz-appearance: none;
}

.barraPesquisa button {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background-color: #8a5938;
    cursor: pointer;
    padding: 2.5px 8px 2.5px 8px;
    border-radius: 0 5px 5px 0;
}

/* Seletor de idioma */
select {
    padding: 4px 5px;
    border: none;
    max-width: 180px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

select:focus {
    outline: none;
}

select:focus-visible {
    outline: auto;
}

/* Toggle do tema */
.esconder {
    opacity: 0;
    position: absolute;
    width: 20px;
    height: 20px;
    overflow: hidden;
    z-index: -1;
}

.slider {
    width: 70px;
    height: 30px;
    display: flex;
    border: solid 1px;
    border-radius: 50px;
    background-color: #ffffff;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
}

.circle {
    width: 25px;
    height: 25px;
    position: absolute;
    top: 57%;
    left: 0%;
    transform: translate(10%, -50%);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.slider .icon {
    max-width: 20px;
    width: 100%;
    height: auto;
    position: absolute;
}

.slider img[alt="Sol"] {
    margin-top: 0%;
}

.slider img[alt="Lua"] {
    margin-top: -150%;
}

/* Animação do toggle */ 
#toggle:focus-visible + label {
    outline: auto;
    outline-offset: 5px;
}

input[type=checkbox]:checked + label .circle {
    left: 100%;
    transform: translate(-110%, -50%);
}

input[type=checkbox]:checked + label {
    background-color: #000000;
}

input[type=checkbox]:checked + label .circle img[alt="Sol"] {
    margin-top: 150%;
}

input[type=checkbox]:checked + label .circle img[alt="Lua"] {
    margin-top: -1%;
}

/* Links navegáveis do menu */
.linkNav {
    padding-bottom: 20px;
    height: 100%;
}

.linkNav a {
    padding: 5px;
}

#linkHover:hover a, #linkHover2:hover a {
    color: #ffffff;
    background-color: #8a5938;
    border-radius: 5px;
}

#itemAtivo {
    border-bottom: solid 2px #8a5938;
}

/* Menu supenso */
#dropdownItem, #dropdownItens2 {
    position: relative;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #e6e6e6;
    font-size: 15px;
    z-index: 1;
}

#drop2 {
    left: -250%;
}

.dropdown a {
    padding: 10px;
}

.dropdown a:hover, .dropdown a:focus {
    color: #8a5938;
    text-decoration: underline;
}

#dropdownItem:hover .dropdown, #dropdownItem:focus-within .dropdown {
    display: flex;
    flex-direction: column;
    width: 250px;
}

#dropdownItens2:hover .dropdown, #dropdownItens2:focus-within .dropdown {
    display: flex;
    flex-direction: column;
    width: 150px;
}

/* Ícones do menu */
.linkIcone img[alt="Configurações"] {
    max-width: 25px;
    max-height: 25px;
}

.linkIcone {
    padding: 7px;
}

.menu2 li:last-child {
    padding: 6px 8px;
}

.linkIcone:hover {
    border-radius: 50%;
    background-color: #e6e6e6;
}

#iconPerfil {
    width: 18px;
    height: auto;
}

#fundoPreto {
    background-color: #000000;
}

/* Menu do adm */
.menuVertical {
    width: 250px;
    padding: 2rem 3rem;
    background-color: #000000;
    height: 95vh;
    position: fixed;
    top: 18px;
    left: 40px;
    color: #ffffff;
    border-radius: 5px;
}

.menuVertical ul {
    height: 85vh;
}

.menuVertical ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menuVertical a {
    color: #ffffff;
    padding-left: 10px;
}

.menuVertical a:hover {
    font-weight: 800;
}

.menuVertical img {
    max-width: 100px;
    height: auto;
}

.centro {
    align-self: center;
}

.paginaAdm {
    margin: 0.5rem 1rem;
}

#ativo {
    border-left: solid 3px #ffffff;
}

/* --------------------------------- */

/* FORMULÁRIOS  DE LOGIN E CADASTRO */
input {
    border-radius: 5px;
    height: 2rem;
    padding: 20px 8px;
    border: 0.5px solid rgb(185, 185, 185);
    width: 100%;
}

form input, label {
    font-size: 16px;
}

.conteudoForms {
    display: flex;
    width: fit-content;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 5rem auto;
}

.ilustracao, .formsLogin {
    display: flex;
    max-width: 500px;
    padding-right: 3rem;
}

.ilustracao img {
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.formsLogin {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

.formsLogin fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
    width: 100%;
    margin-bottom: 1.5rem;
}

form h1, form h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    width: 100%;
}

form h2 {
    margin-bottom: 2rem;
}

#esqueciSenha {
    align-self: flex-end;
}

/* - ou - */
.ouDivisor {
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ouDivisor::after, .ouDivisor::before {
    content: "";
    flex: 1;  /* iguala o tamanho */
    border-top: 1px solid black;
    margin: 0 1rem;
}

.botao2 img {
    max-width: 35px;
    width: 100%;
    height: auto;
}

.alternativaEntrar {
    width: 100%;
    text-align: center;
}

#formsCadastro {
    margin-left: 3rem;
    min-width: 600px;
    width: 100%;
    padding: 0;
}

#ilustracao2 {
    padding: 0;
    margin-left: 4rem;
}

#ilustracao2 img {
    border-radius: 0 10px 10px 0;
    max-height: 750px;
    width: 100%;
}

.formsLogin section {
    display: flex;
    gap: 2rem;
    width: 100%;
}

#formsCadastro input {
    max-width: 90%;
}

.alert {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    background-color: #e6e6e6;
    margin-bottom: 2rem;
    font-size: 14px;
}

#formsCadastro .botaoPrincipal, #formsCadastro .botao2 {
    width: 70%;
    align-self: center;
}

/* Formulário do Google */
#googlePage {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: #f1f3f4;
}

#formsGoogle, #formsGoogle * {
    font-family: "Inter" !important;
}

#formsGoogle {
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    max-width: 750px;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffffff;
    box-shadow: none;
}

#logoGoogle {
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.colunasForms {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#formsTexto h1{
    margin-bottom: 15px;
}

#formsTexto #tituloSenha {
    margin-bottom: 5px;
}

#formsTexto strong {
    color:#1b6dd8;
}

.emailGoogle {
    min-width: 23rem;
    width: 100%;
    margin-bottom: 1rem;
}

#googleBotao {
    max-width: fit-content;
    padding: 8px 20px 28px 20px;
    border-radius: 20px;
    background-color: #1b6dd8;
    cursor: pointer;
    color: #ffffff;
    font-weight: 600;
    border: none;
}

#googleBotao:hover {
    background-color: #1055b6;
}

#campoGoogle {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
}

/* Formulário para redefinição de senha */
.formRedefinicao {
    max-width: 600px;
    width: 100%;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 5rem auto;
    padding: 0 50px 20px 50px;
}

.formRedefinicao .ilustraçao3 {
    max-width: 160px;
    width: 100%;
    height: auto;
}

.formRedefinicao h1 {
    margin-bottom: 3rem;
}

.formRedefinicao fieldset {
    text-align: left;
}

.formRedefinicao input {
    margin-top: 10px;
    margin-bottom: 2rem;
}

.formRedefinicao .botaoPrincipal {
    width: fit-content;
    display: block;
    margin: 0;
    margin-left: auto;
}

.grupoBotoes {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.grupoBotoes .botao2 {
    width: fit-content;
    margin: 0;
}

/* --------------------------------- */

/* BANNER */
.banner {
    max-width: 99vw;
    max-height: 100vh;
    margin-bottom: 5rem;
}

.bannerImg {
    width: 100%;
    height: auto;
}

/* --------------------------------- */

/* POP UPS */
.popUp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.popUp:target {
    display: block;
}

.popupConteudo {
    background-color: #ffffff;
    padding: 20px;
    margin: 200px auto;
    width: 400px;
    border-radius: 10px;
    position: relative;
    text-align: center;
    justify-items: center;
}

.popupConteudo img {
    max-width: 60px;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.popupConteudo h1 {
    margin-bottom: 1rem;
}

.fechar {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
}

.popupConteudo .botaoPrincipal {
    display: flex;
    align-items: center;
    align-content: center;
}

.popupConteudo .botao2, .popupConteudo .botaoPrincipal {
    height: 40px;
    width: 200px;
}

.popupConteudo .display {
    justify-content: center;
}

#popup2 .popupConteudo, #popup3 .popupConteudo {
    width: 500px;
    margin: 200px auto;
    justify-items: center;
}

#popup2 .popupConteudo h1, #popup3 .popupConteudo h1 {
    width: 100%;
}

/* --------------------------------- */

/* CONTEÚDOS EM FILEIRA - Cards */
.mainColunas {
    display: flex;
    justify-content: space-between;
    gap: min(3rem);
}

.seçoes h1 {
    margin-bottom: 3rem;
}

.seçoes {
    margin-bottom: 8rem;
}

#seçaoProdutos {
    margin-bottom: 1rem;
    max-width: 1300px;
    width: 100%;
}

.fileiraCards .iconeCategoria {
    max-width: 250px;
    width: 100%;
    height: auto;
}

.fileiraCards {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem;
}

.fileiraCards2 {
    width: 100%;
    justify-content: space-between;
    gap: min(1rem);
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.cardHorizontal {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
}

.fileiraCards .cardCategoria {
    background-color: #8a5938;
    max-width: 500px;
    min-width: 400px;
    width: 100%;
    border-radius: 10px;
}

.cardHorizontal p {
    color: #ffffff;
    font-weight: 600;
}

.cardCategoria:hover {
    background-color: #694228;
}

.cardCategoria:hover p {
    color: #dadada;
}

.cardCategoria:hover img {
    filter: brightness(80%);
}

.imgProduto {
    display: block;
}

.imageBg {
    padding: 0 2rem 0 2rem;
    background-color: #e1e1e1;
    border-radius: 10px 10px 0 0;
    position: relative;
}

.cardVertical {
    min-width: 230px;
    max-width: 250px;
    width: 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border-radius: 10px;
}

.cardVertical:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.conteudoCard {
    border: solid 3px #e1e1e1;
    border-radius: 0 0 10px 10px;
    padding: 10px;
}

.cardVertical h2 {
    text-align: left;
    font-size: 18px;
    height: 60px;
}

.tag {
    margin-bottom: 1rem;
    padding: 5px;
    border: solid 2px #8a593866;
    width: fit-content;
    border-radius: 10px;
    font-size: 14px;
}

.preço {
    font-size: 18px;
}

.botoesAçao {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
}

.botoesAçao button:last-child {
    max-width: fit-content;
}

.botoesAçao .botaoPrincipal img {
    max-width: 25px;
}

.cardProduto {
    width: fit-content;
}

button[class="botao2"] {
    padding: 13px 16px;
}

/* Ícone de favorito */
.favCheckbox, .favCheckbox2 {
    opacity: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
    z-index: -1;
}

.favCheckbox:focus-visible ~ label .circleBg, .favCheckbox2:focus-visible ~ label .circleBg {
    outline: auto;
    outline-offset: 5px;
}

.heartIcon, .heartIcon_logado {
    position: absolute;
    top: 10px;
    right: 10px;
    max-width: 25px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

.circleBg {
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #ffffff99;
    border-radius: 50%;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.heartIcon img, .heartIcon_logado img {
    position: absolute;
    width: 100%;
    transition: opacity 0.2s ease;
}

.heartIcon2 {
    opacity: 0;
}

.favCheckbox:checked + .heartIcon .heartIcon2, .heartIcon:hover .heartIcon2 {
    opacity: 1;
}

.favCheckbox:checked + .heartIcon .heartDefault, .heartIcon:hover .heartDefault {
    opacity: 0;
}

.favCheckbox2:checked + .heartIcon_logado .heartIcon2 {
    opacity: 1;
}

.favCheckbox2:checked + .heartIcon_logado .heartDefault {
    opacity: 0;
} 

.favCheckbox2:checked + .heartIcon_logado:hover .heartDefault {
    opacity: 1;
}

.favCheckbox2:checked + .heartIcon_logado:hover .heartIcon2 {
    opacity: 0;
}

.cardProduto img {
    max-width: 250px;
    width: 100%;
    height: auto;
}

/* --------------------------------- */

/* FILTROS DE PRODUTOS */
.filtros {
    max-width: 400px;
    width: 100%;
    height: fit-content;
}

.cardsFiltros {
    margin: 2rem 0;
    width: 100%;
    border-radius: 10px;
    border: solid 2px #e6e6e6;
    padding: 1rem;
    text-align: left;
}

.cardsFiltros h2 {
    text-align: left;
    margin-bottom: 1rem;
}

.cardsFiltros p {
    align-self: center;
}

.filtrarPreço input {
    max-width: 70px;
    width: 100%;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #8a593866;
    text-align: center;
}

.filtrarPreço {
    display: flex;
    gap: 3rem;
}

.campoPreço {
    display: flex;
    gap: 2rem;
}

.cardsFiltros label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.cardsFiltros label img {
    margin-left: auto;
}

.cardsFiltros input[type="checkbox"] {
    width: 25px;
    height: 25px;
    display: inline-block;
    cursor: pointer;
}

input[type="checkbox"] {
    accent-color: #8a5938;
}

.filtrarGenero {
    display: flex;
    justify-content: space-between;
}

.cardsFiltros .barraPesquisa input[type="search"] {
    min-width: 350px;
    width: 100%;
}

.cardsFiltros .barraPesquisa button {
    right: -170px;
}

.navPag {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.filtros .botaoPrincipal {
    width: fit-content;
}

/* --------------------------------- */

/* PÁGINA DE PRODUTO ESPECÍFICO */
#produtoResumo {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem;
}

#imagens {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#imagensNav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 200px;
    width: 100%;
    height: auto;
}

#imagens img {
    border-radius: 5px;
}

#imagemMaior {
    width: 500px;
    height: auto;
}

#imagensNav img:first-child {
    border: solid 3px #8a5938;
}

#infosResumo {
    max-width: 400px;
    width: 100%;
}

.tag2 {
    color: #ffffff;
    padding: 5px;
    border-radius: 5px;
    background-color: #000000;
    font-size: 14px;
    width: fit-content;
}

#infosResumo h1 {
    font-size: 25px;
}

#textoClaro {
    color: #525252;
}

#consultaCep input {
    min-width: 350px;
    width: 100%;
    outline: none;
    border: solid 2px #8a593866;
}

#consultaCep button {
    color: #ffffff;
    right: -145px;
    top: 50%;
    padding: 0.5rem 10px;
    border-radius: 5px;
}

.textoBg {
    padding: 5px;
    border-radius: 20px;
    background-color: #dcdcdc;
    width: fit-content;
}

.textoDisplay {
    display: flex;
    align-items: center;
    gap: 15px;
}

.qtd {
    display: flex;
    gap: 10px;
    border: solid 1px #000000;
    padding: 0 10px;
    border-radius: 5px;
}

.qtd input {
    width: 50px;
    text-align: center;
    outline: none;
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
    border-radius: 0;
}

.qtd button {
    padding: 0 10px;
}

#infosResumo .botaoPrincipal {
    max-width: 350px;
    width: 100%;
}

#infosResumo > * {
    margin-bottom: 10px;
}

#infosProduto p, h1 {
    width: fit-content;
}

#infosResumo {
    position: relative;
}

#infosResumo .heartIcon {
    top: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
}

#infosResumo .favCheckbox:checked + .heartIcon .heartIcon2, .heartIcon:hover .heartIcon2 {
    opacity: 1;
}

#infosResumo .favCheckbox:checked + .heartIcon .heartDefault, .heartIcon:hover .heartDefault {
    opacity: 0;
}

/* Dropdown de infos */
.containerDropdown {
    margin: 5rem auto;
}

.dropdownLabel {
    cursor: pointer;
}

.dropdownToggle {
    opacity: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
    z-index: -1;
}

.dropdownToggle:focus-visible + label {
    outline: auto;
    outline-offset: 5px;
}

.dropCabeçalho {
    display: flex;
    justify-content: space-between;
}

.dropCabeçalho h2 {
    width: fit-content;
}

.dropdownContent {
    display: none;
    transition: max-height 0.3s ease;
}

.dropdownToggle:checked ~.dropdownContent {
    display: block;
    padding: 10px;
    padding-top: 20px;
}

.dropdownContent p {
    margin-bottom: 1rem;
}

.dropdownToggle + .dropdownLabel .icon {
    transition: transform 0.3s ease;
}

.dropdownToggle:checked + .dropdownLabel .icon {
    transform: rotate(180deg);
}

/* Tabela */
.fichaTecnica {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 5px;
    overflow: hidden;
}

.linhaBranca td:first-child, .linhaCinza td:first-child {
    text-align: left;
}

.linhaBranca td:last-child, .linhaCinza td:last-child {
    text-align: right;
}

.linhaBranca, .linhaCinza {
    height: 60px;
}

.linhaBranca td, .linhaCinza td {
    padding: 10px;
}

.linhaBranca {
    background-color: #ffffff;
}

.linhaBranca td:first-child {
    border-left: 2px solid #e6e6e6;
}

.linhaBranca td:last-child {
    border-right: 2px solid #e6e6e6;
}

.linhaCinza {
    background-color: #e6e6e6;
}

/* Avaliações ou dúvidas */
.divSeçoes {
    display: flex;
    width: fit-content;
}

.divSeçoes h2 {
    padding: 10px;
    margin: 0 1rem 0 1rem;
    width: 230px;
    text-align: center;
}

.divSeçoes #secaoAtual {
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px 10px 0 0;
}

.divSeçoes h2 {
    border: solid 1px #000000;
    border-bottom: none;
    border-radius: 10px 10px 0 0;
}

.tituloMaior {
    font-size: 1.5rem;
}

#filtroAv *{
    margin-bottom: 1rem;
}

.display1 {
    display: flex;
    gap: 5px
}

.display1 p {
    margin-left: 1rem;
}

#filtroAv .botaoPrincipal {
    width: fit-content;
    margin-top: 0;
    margin-bottom: 0;
}

#filtroAv {
    display: flex;
    align-items: center;
    gap: 10rem;
}

#filtroAv label * {
    margin: 0;
}

#filtroAv section {
    margin-bottom: 0;
}

.mediaAv {
    text-align: center;
    margin-top: 2rem;
}

.mediaAv * {
    margin-bottom: 1rem;
}

.mediaAv p:last-of-type {
    font-size: 50px;
    font-weight: 600;
}

.userFoto {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.display2 {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.display3 {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.display3 p {
    margin-bottom: 1rem;
}

.display2 p {
    margin: 1rem 0;
    max-width: 1150px;
}

.produtoAv {
    max-width: 210px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.secaoDuvidas * {
    margin: 1rem 0;
}

.secaoDuvidas h3:first-child {
    margin-top: 2rem;
}

.secaoDuvidas form * {
    margin: 0 0 5px 0;
}

.secaoDuvidas form input:last-of-type {
    width: fit-content;
    margin: 10px 0 3rem 0;
}

.pBg {
    background-color: #e6e6e6;
    padding: 10px;
}

.separador {
    margin: 1rem 0 1rem 0;
}

.separador2 {
    margin: 3rem 0 3rem 0;
}

.verMais{
    text-align: center;
    text-decoration: underline;
    margin: 5rem 0;
}

.icon2 {
    max-width: 200px;
    width: 100%;
    height: auto;
}

.icon10 {
    width: 150px;
}

/* --------------------------------- */

/* PÁGINA DE CARRINHO */
#conteudoCentralizado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
}

#conteudoCentralizado h1 {
    margin-bottom: 2rem;
}

#conteudoCentralizado p:last-of-type {
    margin-bottom: 2rem;
}

.display {
    display: flex;
    gap: 1rem;
}

.display .botaoPrincipal {
    display: flex;
    align-items: center;
    align-content: center;
}

.display a {
    width: 200px;
}

/* Carrinho do usuário logado */
#carrinho td, #carrinho th {
    text-align: left;
    border-bottom: solid 2px #dadada;
    padding-bottom: 25px;
    padding-right: 6rem;
}

#carrinho td:last-child, #carrinho th:last-child {
    padding-right: 0;
}

#carrinho tr:last-child td {
    border-bottom: none;
}

#carrinho td {
    text-align: center;
}

#carrinho {
    border-spacing: 0 15px;
    margin-bottom: 10rem;
}

#carrinho p {
    white-space: nowrap;
}

td img {
    max-width: 250px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}

td[class="display"] {
    align-items: center;
    gap: 0;
}

#paginaConteudo {
    display: flex;
    justify-content: space-between;
}

.resumoPedido {
    max-width: 450px;
    width: 100%;
    background-color: #e1e1e1;
    padding: 2rem;
    padding-top: 9rem;
}

.resumoPedido h2 {
    text-align: left;
    font-size: 20px;
}

.resumoPedido * {
    margin-bottom: 1rem;
}

.resumoPedido h1 {
    margin-bottom: 2rem;
}

.resumoPedido p {
    width: fit-content;
    white-space: nowrap;
}

.resumoPedido form input {
    background-color: #e1e1e1;
} 

.resumoPedido form {
    width: 100%;
}

.resumoPedido #consultaCep button {
    top: 22px;
    right: 2%;
}

.resumoPedido #total {
    margin-top: 2rem;
}

.resumoPedido hr {
    margin: 3rem 0;
}

.resumoPedido .botaoPrincipal {
    display: block;
    width: 100%;
    text-align: center;
    align-content: center;
}

.resumoPedido .display {
    justify-content: space-between;
    align-items: center;
}

/* Página de endereço de entrega */
#entrega {
    width: 150%;
}

#entrega h2 {
    text-align: left;
    margin-bottom: 2rem;
}

.comMargem + p {
    margin-bottom: 2rem;
}

.comMargem {
    margin-bottom: 1rem;
}

.formEndereço {
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    margin: 2rem 0 3rem 0;
}

.formEndereço label {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.formEndereço label input {
    width: 20px;
}

.formEndereço .tituloSeletor {
    margin-bottom: 2rem;
}

#entrega form {
    margin: 0 2rem;
}

#entrega form fieldset{
    margin-bottom: 2rem;
}

#entrega form fieldset label{
    margin-bottom: 10px;
}

.inputMenor {
    width: 400px;
}

/* Página de frete */
#frete {
    width: 200%;
}

#frete h2 {
    text-align: left;
    margin-bottom: 1.5rem;
}

.opçao {
    display: flex;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}

.opçaoDescricao {
    display: flex;
    gap: 20px;
    align-items: center;
}

.opçaoDescricao input {
    width: 20px;
}

.freteTag {
    color: rgb(18, 129, 18);
    font-weight: 600;
}

/* Página de pagamento */
#pg {
    width: 85%;
}

#pg h2 {
    text-align: left;
    margin-bottom: 2rem;
}

input[type="radio"] {
    accent-color: #8a5938;
}

.icon3 {
    max-width: 35px;
    width: 100%;
    height: auto;
}

.icon4 {
    max-width: 50px;
    width: 100%;
    height: auto;
}

#containerForm form {
    margin: 0 2rem;
}

#containerForm form fieldset {
    margin-bottom: 2rem;
}

#containerForm form fieldset:last-of-type {
    margin-bottom: 0;
}

#containerForm form fieldset label {
    margin-bottom: 10px;
}

#containerForm .alert {
    margin-top: 10px;
}

/* Página de confirmação de pagamento */
.detalhes {
    width: 90%;
    text-align: left;
    background-color: #e6e6e6;
    padding: 1rem;
    border-radius: 5px;
}

.detalhes h2 {
    text-align: left;
}

.detalhes p {
    margin-bottom: 5px;
}

#conteudoCentralizado .detalhes p:last-of-type {
    margin: 0;
}

.mainMargem {
    margin-bottom: 5rem;
}

.mainMargem section:last-child {
    margin-top: 2rem;
}

.mainMargem section:first-child {
    text-align: center;
}

.mainMargem h1 {
    width: 100%;
    margin-top: 2rem;
}

/* --------------------------------- */

/* PÁGINA DE MEUS PEDIDOS */
.produtos {
    background-color: #e1e1e1;
}

.produtosImg {
    display: flex;
}

.produtosImg img{
    max-width: 150px;
    width: 100%;
    height: auto;
}

.celulaImagens {
    max-width: 200px;
}

.statusCelula {
    max-width: 150px;
}

#tabelaPedidos td:last-child {
    max-width: 90px;
}

#tabelaPedidos {
    border-spacing: 0 15px;
    margin-bottom: 5rem;
    width: 100%;
}

#tabelaPedidos td {
    text-align: left;
    padding-right: 2rem;
}

#tabelaPedidos td:last-child {
    padding-right: 0;
}

#tabelaPedidos .pedidosTxt {
    max-width: 100px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
}

#tabelaPedidos .etapa {
    display: flex;
    align-items: center;
}

#tabelaPedidos .botao2 {
    background-color: #e1e1e1;
    width: 150px;
}

#tabelaPedidos .botao2:hover {
    background-color: #000000;
}

.pedidosFinalizados {
    margin-bottom: 5rem;
}

/* --------------------------------- */

/* PÁGINA DE ACOMPANHAMENTO DO PEDIDO */
.timeline {
    width: 90%;
    padding: 40px 0;
    margin: 6rem auto;
    margin-bottom: 2rem;
    box-sizing: border-box;
    position: relative;
}

.statusPedido .botao2 {
    width: 300px;
}

.statusPedido section p:last-child, .statusPedido section div:last-child  {
    margin-bottom: 5rem;
}

.statusPedido .display {
    align-content: center;
    margin-bottom: 2rem;
    align-items: center;
}

.statusPedido .display p:last-child {
    margin: 0;
}

.cancelamento {
    margin-bottom: 2rem;
}

.statusPedido p {
    margin-bottom: 5px;
}

.timeline ol {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-left: 40px;
}

.timeline ol::before {
    content: "";
    position: absolute;
    top: 50px;
    right: 2px;
    height: 4px;
    background-color: #8a5938;
    width: 104%;
    padding: 0;
    background: linear-gradient(to right, #8a5938 0%, #8a5938 10%,#ccc 30%,  #ccc 100%);
}

.status {
    text-align: center;
    width: 60px;
    position: relative;
    flex-shrink: 0;
}

.status figure {
    position: relative;
}

.status img:first-child, .statusAtivo img:first-child {
    width: 80px;
    height: 80px;
    position: relative;
    top: -70px;
    filter: grayscale(1);
}

.statusAtivo img:first-child {
    filter: none;
}

.status .icon{
    position: absolute;
    top: 40px;
    left: 75%;
    transform: translateX(-50%);
    filter: grayscale(1);
}

.statusAtivo .icon {
    position: absolute;
    top: 40px;
    left: 5.5%;
}

.statusAtivo .icon { 
    filter: none;
}

.timeline figcaption {
    margin-top: 5px;
    text-align: center;
}

.popupConteudo label {
    display: inline-block;
    text-align: left;
    width: 100%;
}

.icon1 {
    width: 35px;
    height: 35px;
}

/* --------------------------------- */

/* PÁGINA DE FAVORITOS*/
#favoritos .fileiraCards2 {
    justify-content: center;
    gap: max(8rem);
}

#favoritos .tituloPagina {
    text-align: center;
    margin-bottom: 3rem;
}

#favoritos .tituloPagina p {
    text-align: right;
}

#favoritos h1 {
    width: 100%;
    margin: 1rem 0;
} 

.icon5 {
    max-width: 80px;
    width: 100%;
    height: auto;
}

/* --------------------------------- */

/* PERFIL DO USUÁRIO */
.mainPerfil h1 {
    width: 100%;
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
    padding: 5px 20px;
    margin-bottom: 3rem;
}

.secaoPerfil {
    width: 100%;
    border: solid 3px #e1e1e1;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 3rem;
}

.secaoPerfil .display:first-child {
    justify-content: space-between;
}

.secaoPerfil .display:first-child a {
    display: flex;
    width: fit-content;
    border: solid 2px #e1e1e1;
    border-radius: 20px;
    padding: 5px 10px;
    align-items: center;
    gap: 10px;
    height: fit-content;
}

.secaoPerfil .display:first-child a:hover {
    background-color: #e1e1e1;
}

#infosPerfil {
    align-items: center;
    gap: 2rem;
}
#infosPerfil p {
    margin-bottom: 1rem;
}

.secaoPerfil .display h2 {
    margin-bottom: 2rem;
}

/* Edição do perfil */
#edicao {
    width: 60%;
    margin: 4rem auto;
    margin-top: 0;
}

.fotoEditar {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.overlayFoto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    border-radius: 50% ;
}

.overlayFoto .icon {
    opacity: 0;
    transition: opacity 0.3s ease;
    max-width: 50px;
}

.fotoEditar:hover .overlayFoto, .fotoEditar:focus .overlayFoto {
    background-color: rgba(0, 0, 0, 0.3);
}

.fotoEditar:hover .overlayFoto .icon, .fotoEditar:focus .overlayFoto .icon {
    opacity: 1;
}

.secaoPerfil form * {
    text-align: left;
}

.secaoPerfil form section {
    margin-bottom: 2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.inputs h2, .inputs p {
    margin-bottom: 10px;
}

#edicao .botaoPrincipal {
    width: 200px;
    text-align: center;
}

#edicao section h2 {
    margin-bottom: 2rem;
}

#edicao section .display {
    justify-content: left;
}

#edicao fieldset label p {
    margin-bottom: 10px;
}

#edicao fieldset {
    margin-bottom: 2rem;
}

#edicao fieldset:last-of-type {
    margin-bottom: 0;
}

#edicao fieldset:last-of-type .alert {
    margin-top: 1rem;
}

/* --------------------------------- */

/* PÁGINA DE CONFIGURAÇÕES */
#configPage hr {
    margin: 1rem 0;
}

#configPage h2 {
    text-align: left;
    margin: 0;
}

#configPage article {
    border-radius: 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 2rem 0 5rem 0;
}

#configPage article section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#configPage .botaoPrincipal {
    display: flex;
    align-items: center;
    align-content: center;
    width: fit-content;
    margin: 0;
}

#configPage .comBorda {
    border: solid 1px #000000;
    border-radius: 5px;
}

#configPage .linha2 {
    border-color: #e6e6e6;
    margin: 2rem 0;
}

.botaoFonte {
    display: flex;
    gap: 1rem;
    align-items: center;
}

#configPage .botaoFonte button {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    width: 40px;
    height: 40px;
    font-size: 20px;
}

#configPage .botaoFonte button:hover{
    color: #ffffff;
    background-color: #8a5938;
}

#slider2 {
    background-color: #525252;
}

#slider2 .bolinha {
    position: absolute;
    background-color: #ffffff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    transition: 0.5s;
    top: 2px;
    left: 2px;
}

#toggle2:focus-visible + label {
    outline: auto;
    outline-offset: 5px;
}

#toggle2:checked ~ #slider2 {
    background-color: #8a5938;
}

#toggle2:checked ~#slider2 .bolinha {
    transform: translateX(36px);
}

h2 a {
    text-decoration: underline;
}

/* --------------------------------- */

/* RODAPÉ */
footer {
    background-color: #8a5938;
    padding: 30px 13rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

footer p, footer a {
    color: #ffffff;
}

footer a {
    text-decoration: underline;
}

footer img[alt="Logo da Libris"] {
    max-width: 160px;
    width: 100%;
    height: auto;
    margin-bottom: 3rem;
}

.bandeira {
    max-width: 100px;
    width: 100%;
    height: auto;
}

footer .seçoes {
    margin-bottom: 3rem;
}

footer > section:first-of-type {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.textoItalico {
    font-style: italic;
}

footer .textoItalico {
    margin: 1rem 0;
}

.fileiraBandeiras {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* --------------------------------- */

/* PÁGINA SOBRE NÓS */
.sobre .display img {
    max-width: 370px;
    max-height: 370px;
}

.sobre .display p {
    margin-bottom: 1rem;
}

#mvv p {
    max-width: 300px;
    text-align: justify;
    padding: 30px;
    background-color: #e6e6e6;
    border-radius: 5px;
    height: 200px;
    justify-content: center;
}

#mvv {
    margin-bottom: 6rem;
}

.sobre .display {
    max-width: 1200px;
    margin: 4rem auto;
    align-items: center;
    justify-content: space-between;
}

/* --------------------------------- */

/* PÁGINA DE ATENDIMENTO */
.atendimento .containerDropdown {
    margin-top: 3rem;
}

.contato .display {
    align-items: center;
    margin-bottom: 2rem;
}

/* --------------------------------- */

/* PÁGINAS DE POLÍTICAS     */
.politicas {
    background-color: #e1e1e1;
}

.politicas .secaoPerfil {
    background-color: #ffffff;
}

.politicas p {
    margin-bottom: 2rem;
}

.politicas p:last-child {
    margin-bottom: 0;
}

/* CORPO DAS PÁGINAS DO ADM */
.conteudoAdm {
    margin-left: min(350px);
}

/* --------------------------------- */

/* HOME ADM */
.conteudoAdm article {
    align-items: center;
    width: 100%;
    background-color: #e1e1e1;
    padding: 2rem;
    border-radius: 5px;
}

.perfilAdm {
    width: 60px;
    height: auto;
}

.conteudoAdm {
    margin-top: 2rem;
    margin-right: 2rem;
}

.conteudoAdm section {
    justify-content: space-between;
    margin-bottom: 3rem;
    gap: min(3rem);
}

.iconLivro {
    width: 250px;
    height: auto;
}

.filtroAdm {
    outline: auto;
    background-color: #e1e1e1;
    margin: 2rem 0 2rem 0;
}

.grafico {
    width: 100%
}

/* --------------------------------- */

/* PRODUTOS ADM */
#produtosCabeçalho {
    width: 100%;
    justify-content: space-between;
}

#produtosCabeçalho .botaoPrincipal {
    width: fit-content;
    margin: 0;
}

#barraPreta {
    position: relative;
    max-width: 500px;
    width: 50%;
}

#barraPreta input {
    width: 100%;
}

#barraPreta button {
    position: absolute;
    background-color: #000000;
    top: 16px;
    right: -13px;
}

.displayCheck {
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 5px;
}

.displayCheck input {
    width: 25px;
    height: 25px;
}

.tabelaCinza {
    background-color: #e1e1e1;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 0 !important;
}

.tabelaCinza img:first-child {
    width: 150px;
}

.tabelaCinza th, .tabelaCinza td {
    border-bottom: solid 2px #ccc !important;
    padding-right: 15px !important;
}

.tabelaCinza tr:last-child td {
    border-bottom: none !important;
    padding-bottom: 0 !important;
}

.tabelaCinza td {
    white-space: nowrap;
    padding-right: 15px !important;
    text-align: left !important;
}

.verde {
    color: green;
}

.vermelho {
    color: rgb(178, 0, 0);
}

.tabelaCinza .display a {
    width: fit-content;
    transition: transform 0.3s ease;
}

.tabelaCinza .display a:hover {
    transform: scale(1.2);
}

.tabelaCinza .display img:last-child {
    max-width: 20px;
}

.tabelaCinza .display {
    gap: 1rem;
    align-items: center;
}

td[class="display"] p {
    max-width: 130px;
    white-space: normal !important;
    text-align: left;
}

#duvidasTh {
    width: 150px;
}

/* Página de produto específico */
#produto_page .cardAdm {
    width: 100% !important;
    align-items: start;
    margin-bottom: 3rem;
}

#produto_page .cardAdm h2 {
    margin-bottom: 2rem;
}

#produto_page .cardAdm h3 {
    margin-bottom: 0.5rem;
}

#produto_page .cardAdm p {
    margin-bottom: 2rem;
}
#produto_page #imagens {
    width: 100%;
    justify-content: flex-start !important;
    gap: 10px !important;
}

#produto_page #imagens img {
    max-width: 45%;
    height: auto;
}

.infosProduto .display {
    justify-content: space-between;
    align-items: center;
}

.infosProduto .display h2 {
    margin-bottom: 0 !important;
}

.infosProduto .display a {
    display: flex;
    gap: 10px;
    align-items: center;
    border: solid 2px #e1e1e1;
    border-radius: 20px;
    padding: 10px 20px;
    transition: none !important;
}

.infosProduto .display a:hover {
    background-color: #e1e1e1;
    transform: none !important;
}

.duvidas {
    width: 100%;
}

.duvidas input {
    margin: 5px 0 10px 0;
}

.duvidas .botaoPrincipal {
    width: fit-content;
}

.avaliaçoes .display2 {
    gap: 10px;
    justify-content: space-between;
}

.avaliaçoes #media p {
    margin: 0 !important;
}

#media {
    justify-content: start;
}

/* --------------------------------- */

/* PÁGINA DE ADMINISTRADORES */
.cardAdm {
    display: flex;
    flex-direction: column;
    width: 250px !important;
    background-color: #ffffff !important;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

#adminsPage .cardAdm {
    height: 320px;
    text-align: center;
}

.cardAdm .perfilAdm {
    align-self: center;
    width: 100px;
}

.cardAdm .display {
    align-items: center;
}

.cardAdm .display a {
    width: fit-content;
    transition: transform 0.3s ease;
}

.cardAdm .display a:hover {
    transform: scale(1.2);
}

.cardAdm .display img:last-child {
    max-width: 20px;
}

#adminsPage article[class="display"] {
    background-color: #ffffff;
    justify-content: space-between;
}

/* --------------------------------- */

/* PÁGINA DE CADASTRO DE PRODUTO */
#cadastroProduto {
    max-width: 100% !important;
    width: 100%;
    padding-right: 0;
}

#cadastroProduto fieldset {
    min-width: 200px;
}

#cadastroProduto .comBorda {
    border: solid 1px #000000;
    border-radius: 5px;
}

input[type="file"] {
    border: none;
    cursor: pointer;
    width: fit-content;
}

input[disabled] {
    width: fit-content;
}

.displayColuna {
    flex-direction: column;
    gap: 0 !important;
}

.displayColuna section {
    gap: 0 !important;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    resize: none;
    border-radius: 5px;
    font-size: 16px;
}

#cadastroProduto .botaoPrincipal {
    width: 200px;
}

/* --------------------------------- */

/* EDIÇÃO DE PRODUTO */
.imagensLivro p {
    margin-bottom: 10px !important;
}

.escondido {
    display: none;
}

.botaoUpload {
    padding: 5px 10px;
    background-color: #e1e1e1;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    font-size: 14px;
    border: solid 1px #000000;
}

.preview {
    margin-top: 10px;
}

.preview img {
    width: 150px;
    border-radius: 8px;
    margin-bottom: 5px;
}

.nomeArquivo {
    color: #333;
    font-style: italic;
}

.conteudoAdm .caminho {
    margin: 2rem 0 !important;
}

/* --------------------------------- */

/* PÁGINA DE PEDIDOS ADM */
#pedidosPage .barraPesquisa {
    max-width: 70% !important;
    width: 100%;
}

.imgsProduto {
    max-width: 100px;
    width: 100%;
    height: auto;
}

.tabelaCinza td .botao2 {
    background-color: #e1e1e1;
}

.tabelaCinza td .botao2:hover {
    background-color: #000000;
    color: #ffffff;
}

/* Pedido específico */
.iconLivro2 {
    width: 150px;
    height: auto;
}

/* --------------------------------- */

/* CONFIGURAÇÕES ADM */
#configPage article {
    background-color: #ffffff !important;
}

#configPage section:last-child {
    margin-bottom: 0 !important;
}

/* --------------------------------- */

/* PERFIL ADM */
#adminsPage .secaoPerfil {
    margin: auto 0;
}

.formAdm h1, .formAdm h2 {
    text-align: left;
}

.formAdm h2 {
    margin-bottom: 0.5rem;
    margin-top: 3rem;
}

.tamanhoNormal {
    width: 100% !important;
}

.formAdm .botaoPrincipal {
    width: 200px;
    margin-top: 0;
}

.formAdm .alert {
    margin-bottom: 0;
}