/* ESTILO GERAL PARA TODAS AS PÁGINAS */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
    color: #000000;
}

h2 {
    font-weight: 600;
}

header {
    width: 100%;
    padding: 0.4rem 3rem;
}

main {
    margin: 3rem 3rem auto 3rem;
}

.caminho a {
    text-decoration: none;
}

li {
    list-style: none;
    font-size: 16px;
}

.caminho {
    margin: 1.5rem 3rem;
}

.caminho ul {
    display: flex;
    gap: 1rem;
}

.caminho li {
    display: flex;
    align-items: center;
}

.caminho li + li::before {
    content: ">";
    margin-right: 1rem;
}

.link:hover {
    text-decoration: underline;
    color: #8a5938;
}

.linkSecundario {
    color: #8a5938;
}

.linkSecundario:hover {
    color: #000000 !important;
}

.botaoPrincipal {
    justify-content: center;
    align-items: center;
    height: 48px;
    padding: 0 2rem;
    cursor: pointer;
    font-weight: 600;
    border: none;
    background-color: #8a593866;
    font-size: 16px;
    border-radius: 10px;
    width: 100%;
    margin: 1.2rem 0;
}

.botaoPrincipal:hover {
    background-color: #8a5938;
    color: #ffffff;
}

.icon {
    max-width: 25px;
    width: 100%;
    height: auto;
}

/* CABEÇALHOS */
.semNav {
    background-color: #8a5938;
}

.semNav img {
    max-width: 85px;
    width: 100%;
    height: auto;
}

.semNav a {
    display: inline-block;
    width: fit-content;
}

/* FORMULÁRIOS */
input {
    border-radius: 5px;
    height: 2rem;
    padding: 20px 8px;
    border: 0.5px solid rgb(185, 185, 185);
    width: 100%;
}

form input, label {
    font-size: 16px;
}

.conteudoForms {
    display: flex;
    width: fit-content;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    margin: 5rem auto;
}

.ilustracao, .formsLogin {
    display: flex;
    max-width: 500px;
    padding-right: 3rem;
}

.ilustracao img {
    border-radius: 10px 0 0 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.formsLogin {
    flex-direction: column;
    height: 100%;
    align-items: flex-start;
}

.formsLogin fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 300px;
    width: 100%;
    margin-bottom: 1.5rem;
}

form h1, h2 {
    text-align: center;
    margin-bottom: 0.5rem;
    width: 100%;
}

form h2 {
    margin-bottom: 2rem;
}

#esqueciSenha {
    align-self: flex-end;
}

/* - ou - */
.ouDivisor {
    font-size: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.ouDivisor::after, .ouDivisor::before {
    content: "";
    flex: 1;  /* iguala o tamanho */
    border-top: 1px solid black;
    margin: 0 1rem;
}

.botao2 img {
    max-width: 35px;
    width: 100%;
    height: auto;
}

.botao2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid;
    border-radius: 10px;
    font-size: 16px;
    width: 100%;
    margin: 1.2rem 0;
}

.botao2:hover {
    background-color: #000000;
    color: #ffffff;
}

.alternativaEntrar {
    width: 100%;
    text-align: center;
}

#formsCadastro {
    margin-left: 3rem;
    min-width: 600px;
    width: 100%;
    padding: 0;
}

#ilustracao2 {
    padding: 0;
    margin-left: 4rem;
}

#ilustracao2 img {
    border-radius: 0 10px 10px 0;
    max-height: 750px;
    width: 100%;
}

.formsLogin section {
    display: flex;
    gap: 2rem;
    width: 100%;
}

#formsCadastro input {
    max-width: 90%;
}

.alert {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    background-color: #e6e6e6;
    margin-bottom: 2rem;
    font-size: 14px;
}

#formsCadastro .botaoPrincipal, #formsCadastro .botao2 {
    width: 70%;
    align-self: center;
}
