/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    box-sizing: border-box;
}

h2 {
    font-weight: 600;
}

header {
    width: 100%;
    padding: 0.4rem 3rem;
}

main {
    margin: 3rem 3rem 1rem 3rem;
}

input {
    border-radius: 5px;
    height: 2rem;
    padding: 20px 8px;
    border: 0.5px solid rgb(185, 185, 185);
}

.linkSecundario:hover {
    color: rgb(0, 61, 152) !important;
}

.ouDivisor {
    font-size: 20px;
    margin: 3rem 0;
    text-align: center;
    display: flex;
    align-items: center;
}

.ouDivisor::after, .ouDivisor::before {
    content: "";
    flex: 1;  /* iguala o tamanho */
    border-top: 1px solid black;
    margin: 0 1rem;
}

.botaoPrincipal {
    height: 20px;
    line-height: 20px;
    padding-bottom: 2rem;
    cursor: pointer;
    font-weight: 600;
    border: none;
    background-color: aqua;
    font-size: 18px;
}

.linkIcone img {
    max-width: 45px;
    width: 100%;
    height: auto;
}

.linkIcone {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-align: center;
    
}

/* CABEÇALHOS */
.semNav {
    background-color: rgb(60, 16, 16);
}

.semNav img {
    max-width: 85px;
    width: 100%;
    height: auto;
    display: block;
}

.semNav a {
    display: inline-block;
    width: fit-content;
}

/* FORMULÁRIOS */
form input, label {
    font-size: 18px;
}

.conteudoForms {
    display: flex;
    justify-content: center;
    align-items: stretch;  /* deixa tudo com a mesma altura */
    min-height: 100vh;
    max-height: fit-content;
    gap: 4rem;
}

.ilustracao {
    width: fit-content;
}

.ilustracao img {
    max-width: 800px;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

#formsLogin {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

#formsLogin fieldset {
    border: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

form h1, h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

form h2 {
    margin-bottom: 2rem;
}

#esqueciSenha {
    align-self: flex-end;
    color: brown;
}